.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    ul{
        list-style:none;
        background-color: chocolate;
        padding: 10px;
    }
    .link{
        background: white;
        padding: 5px;
        border-radius: 10px;
        text-decoration:none;
        color:black;
    }
    li:hover{
    background: black;
    color:white; 
}

